
/* 
Swlector  header
declaracion {}
proppiedad : background-color
valor : green
*/
.header{
  background-color:#1d2d50;
  
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
} 

header figure{
  margin: 0px 0px 0px 20px;
  width: 100%;
  height: 50px;
}

.header figure img{
  width:  inherit;  
  height: inherit;
}

.menu{
  height: inherit;
}

ul{
  list-style: none;   
  padding: 0px;
  margin: 0px;
  display: flex;
  height: inherit;
}


li{
  height: inherit;
}

h1, h2, h3, h4{
  font-family: 'Fjalla One', sans-serif;
  margin: 0px;
}

h1{
  
  line-height: 150%; /* espaciado*/ 
  font-size: 35px;    /* tamaño */
  font-weight: NORMAL ;    /* grosor  */
  letter-spacing: -.2px; /*separacion entre caracteres */
  text-transform: capitalize; /* pone la primera letras en altas */
  margin-right: 20px;
  margin: 0PX;;
}




.link {
  color: darkkhaki;
  text-decoration: none;
  align-items: center;
  display: flex;
  height: inherit;
  align-items: center;
  margin: 0px 10px;
  padding: 0px 10px;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  background-color: #bbe1fa;
  font-size: 16px;;
  }


.main{
  height: 300px;  
  
  /* background-image: url(../img/yo.PNG); */
  /* background-size:  300px ; */
/*   background-repeat: no-repeat;*/
  /* background-position-x: right; */
  background-color: #318fb5;
  /* margin-bottom: 0PX; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  padding: 2%;
} 
.main figure{
  margin: 0px;
  width: auto;
  height: inherit;
}

.main img{
  width: inherit;
  height: inherit;

}

/*
Selectores de etiquetas:
referencia a una etiqueta que sera manipúlada

selectores de id o de clase 

font-family: 'Fjalla One', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/


span{
  color: blue;
}

.project{
  /* border-width: 5px; */
  border-style: none;
  /* border-color: #d54062; */
  border-radius: 20px;
  /*border-top-left-radius: 50px;*/
  /*box-shadow: derecha abajo difuminado;*/
  box-shadow: 0px 5px 5px black;
  padding: 4%;
  display: flex;
  margin: 0px 0px 20px 0px ;
  background-color: white; 
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
}

.project-left{
  width: 48%;
}

.project-title{
  margin: 0px;  
  margin-bottom: 10px;
}

.project-lenguaje{
  margin-top: 10px;
}
.project-date{
  margin-top: 10px;
}
.project-link{
  margin-top: 10px;
}
.project-description{
  margin-top: 10px;
  font-size: 16px;
}




.header{
  background-color: #0f3460;
  display: flex;
  justify-content: space-between;
  height: 70;
  align-items: center;
  flex-wrap: wrap;
}

.header figure{
  margin: 0px 0px 0px 20px; /* el orden es asi arriba-derecha-abajo -izquierda*/
  width: 380px;
  height: auto;
}

.header figure img{
  /* inherit es heredado  en este caso de header figure */
  width: inherit;
  height: auto;
  
}
.proyects{
  padding: 0px 1.5rem 10px 1.5rem;
  background-color: #bbe1fa; 
  
  
}
.project{
  display: block;
  font-size: 16px;
 /*  padding: 4%;
  margin:0px 0px 10px 0px; 
  /* display: flex; */
 /*  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap; */ 
}

.project-left{
  width: auto;
}

.project-container-image{
  width: auto;
}


.project-description{
  font-size: 1.4em;
}



/* .proyects{
  border-width: 5px;
  border-style: solid;
  border-color: #d54062;
  border-radius: 20px;
  /*border-top-left-radius: 50px;*/
  /*box-shadow: derecha abajo difuminado;*/
  /* box-shadow: 0px 10px 10px;
  padding: 10px; */
  /*display: flex;*/
 /*  margin: 0px 20px ;
 } */
 

h2{
  margin-left: 30px;
  padding: 1.5rem 0px;
  text-transform: uppercase;
  font-weight: bold;
  color: blue;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  /* background-color: #744bc525; */
}


.project-image{
  width: 100%;
  
}

.flexbox{
  display: none;
  flex-direction: row;  
  flex-wrap: wrap;/*  alinea los objetos  mantenmiendo su ta,maño en el ancho de la pagina*/
  /*justify-content: flex-end; /*  alinea hacia la derecha */ 
 
}

.box{
  width: 200px;
  height: 200px;
  border: 2px solid  blue;
  flex-shrink: 1; 
  margin: 10px; 
}


.experiences{
  padding: 0px 30px;
  display: flex;  
  flex-wrap: wrap;  
  background-color: #bbe1fa;  
  justify-content: space-around;
  /* permite que los items s ealineen dependiendo
  del ancho */
  
}

.experience{
  border: 1px  blue;
  margin: 0px 20px 40px 0px;
  width: 480px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #f4fbff;
  
  
}

.experience-container-image{
  margin: 0px;
  width: inherit;
  /* width: auto; */
  height: 200px;
  
}

.experience-image{
 /*  width: auto; */
 width: inherit;
 height: inherit;
 object-fit: cover;/* redimensiona  a  la imagen  correctamente */
 
}

.experience-down{
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative; /*  trae al frente los item que esten dentro de la classe*/
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.experience-title{
  margin: 0px;
}

.experience-description{
  text-align: left;
}

.experience-down button{
  border: 1px solid rosybrown;
  padding: 5px 25px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rosybrown ;
}

.experience-main-title{
  margin-left: 30px;
  margin: 0px ;
  background-color: #bbe1fa;
  padding-left: 30px;
  
 /*  padding: 0px 0px 10px 0px; */
}

.contact{
  display: flex;
  background-color: #318fb5;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact-form{
  /* border: 1px solid blue; */
  margin-left: 30px;
  
}

.contact-form button{
  display: block;
  /*display blok hace que el elemte+
   ocupe su ancho total y quede
   en columnas o pase para abajo */
 /*  border: 1px solid white; */
  padding: 5px 20px;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  margin-top: 10px;  
  border-radius: 5px;

}



.contact-form input{
  border-color: gray;
  border-style: solid;
  padding: 5px 5px 5px 35px;
  border-radius: 5px;
  background-image: url(../img/mail.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  /* con los bck..position ventramos  verticalmente (y)
  y horizontalmente (x)*/
  background-position-y: center;
  background-position-x: 3px;
  outline: none;
  margin-bottom: 15px;
}

.redes{
  /* border: 1px solid red; */
  display: flex;
  
  
}
.redes-link{
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 20px;
  
  /* border: 1px solid blue; */
}

.redes-link.github{
  background-image: url(../img/Octocat.png);
  background-size: 50px 50px;
}

.redes-link.likedin{
  background-image: url(../img/linkedin.png);
  background-size: 50px 50px;
}
.redes-link.blogger{
  background-image: url(../img/blogger.png);
  background-size: 50px 50px;
}
.redes-link.twitter{
  background-image: url(../img/twiter.png);
  background-size: 50px 50px;
}



.footer{
  background-color: lightblue;
  display: flex;
  justify-content: space-between;/* separa los contenidos  en izq y derecha*/
  align-items: center; /* centra el contenido verticalmente */
  padding: 10px 60px;
  flex-wrap: wrap;

}


.footer-details{
  display: flex;
  align-items: center;
}

.footer-details img{
  width: 40px;
  height: 30px;
  margin-left: 15px;
}

.wrapper{
  max-width: 1000px;
  /* width: 1000px; */
  /* border: 1px solid red; */
  margin: 0px auto;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  height: inherit;
  flex-wrap: inherit;
}

@media screen and (max-width:1024px){
 .project-image{
   justify-content: left;
 }
}

@media screen and (max-width:767px){
 .header{
   height: auto;
   display: block;
 }
 ul{
   display: block;
 }
 .link{
   justify-content: center;
   margin: 0px 0px;
   padding: 10px 0px;
 }

 .project{
   display: block;
   font-size: 16px;
   box-shadow: 0px 0px 8px black;
 }
 .link:hover{
   background-color: rgb(18, 2, 122);
 }
 .header figure{
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px;
 }
 .project-left{
   width: 100%;
 }
 .project-title{
   font-size: 1.2em;
   
 }

 .project-container-image{
  width: 100%;
  margin: 0px; 
}

.project-description, .project-link, .project-date, .project-language{
  margin: 0.6rem 0;
  font-size: 0.9REM;
}
.proyects h2{
 font-size: 1,3rem;
 padding: 1.3rem ;

}
section .main{
  display: flex;
}
.main figure{
  width: 90%;
  height: auto;
  padding: 0.5em;
  display: blockf;
}



@media screen and (max-width:480px){

  .proyects{
    font-weight: 1.3em;
    padding: 0 1.2em 0.8em 1.2em;
  }
  .project{
    font-size: 11px;
    box-shadow: 0px 0px 6px black;
    
  }
  .link{
    padding: 0.4em 0;
  }
  }
  @media screen and (max-width:320px){
    .project{
      box-shadow: 0px 0px 4px black;
      margin-bottom: 1.4em;
      padding: 4%;
    }
    .link{
      padding: 0.3em 0;

   }
